@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply dark:bg-dark bg-light;
}

* {
  box-sizing: border-box;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.avatar__mask {
  clip-path: circle(50% at 50% 50%);
}

.bg-circles::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  opacity: 0.4;
  background-image: url("../../public/images/backgrounds/circles.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero__social-network {
  @apply rounded-full;
  @apply bg-transparent;
  @apply hover:bg-yellow-500;
  @apply border-2 border-solid;
  @apply border-light;
  @apply text-light;
  @apply hover:shadow-md;
  @apply hover:shadow-primary-50/50;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply p-2;
  @apply ease-in-out;
  @apply duration-200;
  @apply transition;
  @apply w-[70px];
  @apply h-[70px];
  @apply xl:w-[58px];
  @apply xl:h-[58px];
}